:root {
  /* Primary */
  --color-primary-accent: #8a2be2;
  --color-primary-focused: #9370db;

  /* Text */
  --color-text-main: #696969;
  --color-text-focused: #ffffff;
  --color-text-sidebar: #ffffff;

  /* Backgrounds */
  --color-bg-main: #ffffff;
  --color-bg-accent: #8a2be2;
  --color-bg-sidebar: #e6e6fa;
}
